@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject TokenProvider TokenProvider

@code {
    private async Task LogoutAsync()
    {
        await TokenProvider.ClearToken();
        Nav.NavigateTo("/", true);
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>

                <Authorized>
                    @context.User.Identity?.Name
                    <button class="btn btn-link" @onclick="LogoutAsync">Log Out</button>
                </Authorized>

                <NotAuthorized>
                    <a href="login">Login</a>
                    
                    <a href="register">Register</a>
                </NotAuthorized>

            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
